
.header{
    display: flex;
   flex-direction:  column;
   flex-wrap: wrap;
    background-color: #80FFDD;
}
.games{
    background-color: #902ADD;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.games img{
    border: 2px solid;
    border-radius: 50px;
    width:300px;
    height:300px;
    margin-top:50px ;
    padding: 30px;
}
.footer{
    background-color: #E49460;
    display: flex;
    justify-content: flex-end;
}
p{
    font-family: 'Franklin Gothic Medium';
    font-size:25px;
    color:black;
}

